*{
    margin: 0;
    padding: 0;
    box-sizing: border-boxs;
    font-family: "Open Sans", sans-serif;
    
}

.container{
    background-image: url(/images/donation1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    text-align: center;
    color: white;
    display: block;
}

.title{
    
    font-weight: 700;
    font-size: 65px;
    padding-top: 250px;
    
}

.description{
    font-weight: 400;
    font-size: 18px;
    margin-top: 30px;
    color: #FFFFFF;
    line-height: 28px;
    
}

.donate-btn{
    padding: 16px 12px;
    border: none;
    background: #FF5959;
    border-radius: 5px;
    margin-top: 30px;
    font-size: 18px;
    font-style: bold;
    color: white;
    width: 160px;
    height: 56px;
}

.donate-btn:hover{
    background-color: rgb(195, 73, 39);
}
/* Donate Today*/

.donate-today{
    text-align: center;
    margin-top: 100px;
}
.donate-title{
    font-weight: 700;
    font-size: 45px;
    color: #121212;
    text-align: center;
}
.donate-description{
    font-weight: 400;
    font-size: 18px;
    color: #707070;
    margin-top: 20px;
}

.donate-amount{
    margin-top: 90px;
    display: flex;
    gap: 20px;
    margin-right: 20px;
    justify-content: center;
}
.amount{
    width: 135px;
    height: 123px;
    font-weight: 700;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    background: #FAFAFA;
    color: #707070;
    
}
.amount:hover{
    background: #FFEEEE;
    border: 2px solid #FF5959;
    color: #FF5959;
    
}

.other-amount{
    font-weight: 400;
    font-size: 18px;
    color: #B3B3B3;
    margin-top: 60px;
    
}