*{
    margin: 0;
    padding: 0;
    box-sizing: border-boxs;
    font-family: "Open Sans", sans-serif;
    
    
}

.container{
    background-image: url(/images/donation1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    text-align: center;
    color: white;
    display: block;
}

.title{
    
    font-weight: 700;
    font-size: 65px;
    padding-top: 250px;
    
}

.description{
    font-weight: 400;
    font-size: 18px;
    margin-top: 30px;
    color: #FFFFFF;
    line-height: 28px;
    
}

.donate-btn{
    padding: 16px 12px;
    border: none;
    background: #FF5959;
    border-radius: 5px;
    margin-top: 30px;
    font-size: 18px;
    font-style: bold;
    color: white;
    width: 160px;
    height: 56px;
}

.donate-btn:hover{
    background-color: rgb(195, 73, 39);
    border: 1px solid rgb(107, 33, 13);
}



/* Donate Today*/

.donate-today{
    text-align: center;
    margin-top: 100px;
}
.donate-title{
    font-weight: 700;
    font-size: 45px;
    color: #121212;
    text-align: center;
}
.donate-description{
    font-weight: 400;
    font-size: 18px;
    color: #707070;
    margin-top: 20px;
}

.donate-amount{
    margin-top: 90px;
    display: flex;
    gap: 20px;
    margin-right: 20px;
    justify-content: center;
}
.amount{
    width: 135px;
    height: 123px;
    font-weight: 700;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    background: #FAFAFA;
    color: #707070;
    
}
.amount:hover{
    background: #FFEEEE;
    border: 2px solid #FF5959;
    color: #FF5959;
    
}

.donate-amount{
   margin-top: 20px;
   margin-bottom: 10px;
   padding: 20px;
   text-align: center;
}

.other-amount-form{
    padding-left: 550px;
    margin-top: 60px;
    
}

.other-amount-form input[type=text]{
    width: 700px;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #bebcbc;
    font-size: larger;
    color: #707070;
    
   
}
.btn{
    margin-right: 550px;
    justify-content: center;
    text-align: center;
}



/* Our Donate Plan */
.donate-plan{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 130px 230px;
    text-align: center;
}
.section{
    text-align: center;
}
.donate-titles{
    margin-top: 50px;
    font-weight: 700;
    font-size: 45px;
    color: #121212;
}
.plan-section{
    display: flex;
    flex-direction: row;
    gap:30px;
    width: 850px;
    height: 350px;
    margin-top: 50px;
   
}
.img-icon{
    margin-top: 63px;
    width: 58.13px;
    height: 49.77px;
    margin-bottom: 31px;
    padding-left: 23px;
}
.plan1{
    text-align: left;
    padding: 10px;
    background: rgba(79, 157, 166, 0.1);
    border-radius: 5px;
}

.plan1:hover{
    background-color:  rgba(12, 49, 54, 0.1);
    border: 2px solid #FF5959;
}
.plan2{
    text-align: left;
    padding: 10px;
    background: rgba(255, 89, 89, 0.1);
    border-radius: 5px;
}

.plan2:hover{
    background-color: rgba(116, 12, 12, 0.1);
    border: 2px solid #FF5959;
}
.plan3{
    text-align: left;
    padding: 10px;
    background:rgb(255,244,214);
    border-radius: 5px;
}

.plan3:hover{
    background:rgba(121, 113, 100, 0.1);
    border: 2px solid #FF5959;
}

.plan-title{
    font-weight: 600;
    font-size: 24px;
    padding-left: 23px;
    margin-bottom: 16px;
}

.plan-description{
    padding-left: 23px;
    font-weight: 400;
    font-size: 16px;
    color: #707070;
    
}
/* Their lives depends on your donated */
.main-2{
    height: 100vh;
}
.depends{
    display: flex;

}


.depends-donated{
    margin-top: 0px;
    padding: 140px;
    margin-left: 200px;
}
.donate-titles .depends{
    font-weight: 700;
    font-size: 45px;

}

.depends-description{
    margin-top: 20px;
    font-weight: 400;
    font-size: 18px;
    color: #707070;
    line-height: 24px;
}

.depends-btn{
    width: 210px;
    height: 56px;
    background: #FF5959;
    border-radius: 5px;
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
    border: none;
    margin-top: 30px;
}
.depends-btn:hover{
    background-color: rgb(195, 73, 39);
    border: 1px solid rgb(107, 33, 13);
}
.primary-img{
    margin-left: 100px;
   
    
}

.depends-img{
    width: 440px;
    height: 440px;
    padding-top: 130px;
}


.depends-1{
    display: flex;
}


.primary-img-1{
    margin-left: 350px;
    margin-top: 20px;
   
    
}
.depends-img-1{
    width: 440px;
    height: 440px;
   
    
}

.depends-donated-1{
    margin-left: 300px;
}

/*Get My update section */

.update{
    text-align: center;
    margin-top: 130px;

}
.update-title{
    font-weight: 700;
    font-size: 45px;
    color: #121212;
    margin-bottom: 20px;
}

.update-description{
    font-weight: 400;
    font-size: 18px;
    color: #707070;
}

/* subscribe */
.update-form{
    background: #FFF4D6;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 10px;
    width: 800px;
    height: 150px;
    margin-left:500px ;
    margin-top:50px;
}

.update-form input[type=text]{
    width: 302px;
    height: 20px;
    padding: 15px;
    border: 2px solid #FF5959;
    border-radius: 5px;
    color: #707070;
    background: #FAFAFA;
}
.update-btn{
    width: 157px;
    height: 53px;
    background-color: #FF5959;
    border: none;
    
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
}
.update-btn:hover{
    background-color: rgb(195, 73, 39);
    border: 1px solid rgb(107, 33, 13);
}

/* footer */

.footer{
    text-align: center;
    background-color: #121212;
    color: white;
    width: 100%;
    height: 150px;
    margin-top: 120px;
}

.footer-title{
    color: #FF5959;
    padding-top: 35px;
    margin-bottom: 24px;
    letter-spacing: 0.5px;
    font-weight: 400;
    font-size: 36px;
    font-family: 'Lobster';
}

.footer-description{
    font-weight: 400;
    font-size: 14px;
    color: #D9DBE1;
}